#header {
  width: 100%;
  height: 19vh;
  background-color: antiquewhite;
  align-items: center;
  font-family: "Yellowtail", cursive;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.fa-paw {
  font-size: 50px;
}
