#header {
  width: 100%;
  height: 19vh;
  background-color: antiquewhite;
  align-items: center;
  font-family: "Yellowtail", cursive;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px 0px 3px;
}
